@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Open+Sans:wght@300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #444444;
}
  a, button {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-decoration: none;

}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;

}
button {
  border: none;
  border-radius: 30px;
  padding: 9px 10px;
  background-color:  rgba(159, 200, 47, 1);
  transition: all 0.3s ease 0s;
}
button:hover{
  background-color: rgba(159, 200, 47, 1);
}
.logo{
  cursor: pointer;
}
.nav_links li {
  display: inline-block;
  padding: 0px 30px;
}
.nav_links li a {
  transition: all 0.3s ease 0s;

}
.nav_links li a:hover{
  color:  rgba(159, 200, 47, 1);
}
.content{
  height: 500px;
}

.content h1, h3 {
  display: inline;
  position:relative;
  top: 100px;
  left: 40%;
  }
h1{
  font-size: 100px;
  font-family: "Dancing Script",sans-serif;
}
h3{
  font-family: "Dancing Script",sans-serif;
  font-size: 50px;
}
hr{
  border-style: solid;
  border-top: 1px;
}
.me {
  font-family: 'Nunito', sans-serif;
  padding-left: 13px;
  font-size: 60px;
  padding-top: 16px;
  }
.me1{
  font-family: "Open sans",sans-serif;
  color: white;
  padding-left: 13px;
  align-items: center;

}
span{
  background-color: #999B84 ;
  border-radius: 30px;
  padding:0px 20px;
}
.language{
  position: relative;
  left: 38%;
  top: 30px;
}
.hobbies{
  position: relative;
  left: 40%;
  top: 30px;
}
.alang{
  position: relative;
  left: 33%;
  top: 30px;
}
.ahobbies{
  position: relative;
  left: 35%;
  top: 30px;

}
.medialink img{
  width: 25px;
  height: 25px;
}
.medialink .li{
  display: inline-block;
  padding: 0 30px;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;

}
.copyright{
  font-family: 'Montserrat', sans-serif;
  color: white;
}
